canvas {
  border: 1px solid grey;
}
h1, h2{
  text-align: center
}

p, section{
  margin: 0 auto;
  max-width: 70%;
  line-height: 1.4
}

body{
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}